# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Test coverage
htmlcov/
.coverage

# Build artifacts
build/
dist/
*.egg-info/

ipas_default.config
trivy_report.txt
bandit_report.txt